<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>05-05</title>
        <style>
            .set1 { background-color: aqua; color: purple}
            .set2 { text-align: center; width: 120px;}
            .set3 { border: 1px dashed sandybrown;}
        </style>
        <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    </head>
    <body>
        <div id="example">
            <!--클래스를 적용할 때는 boolean값을 이요해 지정합니다.-->
            <!--
                방법 1 : 개별적인 속성 하나하나를 바인딩 가능하나 유지보수가 힘들기 때문에 권장하지 않음.
            -->
            <button id="btn1" :class="{set1:s1, set2:s2, set3:s3}">버튼1</button> 
            <p>
                <input type="checkbox" v-model="s1" value="true"/>set1 디자인<br/>
                <input type="checkbox" v-model="s2" value="true"/>set2 디자인<br/>
                <input type="checkbox" v-model="s3" value="true"/>set3 디자인<br/>
            </p>
            <!--
                방법 2 : 클래스 객체를 직접 바인딩하는 방법 **추천!
            -->
            <button id="btn2" :class="class">버튼2</button>
            <p>
                <input type="checkbox" v-model="class.set1" value="true"/>set1 디자인<br/>
                <input type="checkbox" v-model="class.set2" value="true"/>set2 디자인<br/>
                <input type="checkbox" v-model="class.set3" value="true"/>set3 디자인<br/>
            </p>
        </div>
        <script>
            var vm = new Vue({
                el: '#example',
                data:{
                    s1:false,
                    s2:false,
                    s3:false,
                    class:{set1:false, set2:false, set3:false}
                }
            })
        </script>
    </body>
</html>